# For electron-builder
# https://github.com/electron-userland/electron-builder/issues/6289#issuecomment-1042620422
shamefully-hoist=true

# For China 🇨🇳 developers
# electron_mirror=https://npmmirror.com/mirrors/electron/


registry=https://mirrors.huaweicloud.com/repository/npm/
electron_mirror=https://mirrors.huaweicloud.com/electron/
electron-builder-binaries_mirror=https://mirrors.huaweicloud.com/electron-builder-binaries/
strict-ssl=false
NODE_TLS_REJECT_UNAUTHORIZED=0


