registry=https://mirrors.huaweicloud.com/repository/npm/
electron_mirror=https://mirrors.huaweicloud.com/electron/
electron-builder-binaries_mirror=https://mirrors.huaweicloud.com/electron-builder-binaries/
strict-ssl=false
NODE_TLS_REJECT_UNAUTHORIZED=0


